.form-container {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: #fff;
    border: 1px solid skyblue;
}

.brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.form-container img {
    height: 5rem;
}

.form-container h1 {
    color: white;
    text-transform: uppercase;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    background-color: #00000076;
    border-radius: 2rem;
    padding: 2.2rem 4rem;
}

.form-container input {
    background-color: transparent;
    padding: 0.7rem;
    border: 0.1rem solid skyblue;
    border-radius: 0.4rem;
    color: white;
    width: 100%;
    font-size: 0.8rem;
}

.form-container input:focus {
    border: 0.1rem solid white;
    outline: none;
}

.form-container input::placeholder {
    color: white;
}

.form-container button {
    background-color: skyblue;
    color: white;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.form-container button:hover {
    background-color: rgb(9, 165, 226);
  }

.form-container  span {
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
  }

 .form-container span a {
    color: skyblue;
    text-decoration: none;
    font-weight: bolder;
  }